# SPDX-License-Identifier: AGPL-3.0-or-later
root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.adoc]
trim_trailing_whitespace = false

[*.{rs,ada,ads,adb}]
indent_size = 4

[*.{py,jl}]
indent_size = 4

[Makefile]
indent_style = tab

[*.go]
indent_style = tab

[justfile]
indent_style = space
indent_size = 4

[Mustfile]
indent_style = space
indent_size = 4
